<div id="<%= dom_id post %>">
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= post.published %>
  </p>

  <p>
    Posted <%= time_tag post.created_at, "data-local": "time-ago" %>
  </p>

</div>
